

body {
    font-family: 'Georgia', serif; 
    margin: 0;
    padding: 0;
    background-color: #f777c1; 
    color: #0a0a0a;
    line-height: 1.6;
}

.header {
    background-color: #f19bcb;
    padding: 20px 0;
    text-align: center;
    border-bottom: 2px solid #E3A7B0;
}

.header h1 {
    color: #ad1b75; 
    margin: 0;
    font-size: 2.5em;
    font-family: 'Playfair Display', serif; 
}


nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li a {
    text-decoration: none;
    color: #033029;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #490b14;
}


.hero {
    background-color:#ffff;
    text-align: center;
    padding: 80px 20px;
    margin-bottom: 30px;
}

.hero h2 {
    color: #6b0615;
}


.btn {
    display: inline-block;
    background-color: #E3A7B0;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #5A7B76;
}


.productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.tarjeta-flor {
    background-color: white;
    border: 1px solid #E3A7B0;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.tarjeta-flor img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.precio {
    font-weight: bold;
    color: #0c6d5e;
    font-size: 1.2em;
}


.footer {
    background-color: #076456;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
}
